html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  font-size: 24px;
  background: image-url("bg/bg.jpg");
  font-family: $gothamhtf-book;
  line-height: 1.5;
}

*, :after, :before {
  @include box-sizing(border-box);
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h2 {
  font-family: $gothamhtf-bold;
  color: #313132;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-family: $gothamhtf-black;
  color: #ef4136;
  font-size: 36px;
}

img[style*="right"] {
  margin: 0 0 10px 20px;
  clear: right;
}

img[style*="left"] {
  margin: 0 20px 10px 0;
  clear: left;
}

img {
  display: block;
}

p {
  margin: 0 0 20px;
  color: #6d6e71;
}

ul {
  margin: 0;
  padding: 0 0 0 16px;

  li {
    margin: 0 0 16px;
    padding: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #6d6e71;
  text-decoration: none;
}

.width-padding {
  padding-left:4.2%;
  padding-right:4.2%;
}