.site-header {
  height: 240px;

  .nav ul li a {
    font-size: 14px;
    padding: 7px 2px;
  }

  .logo {

    .social-share {
      top: 60px;

      a {
        margin-left: 10px;
      }
    }
  }
}
