.site-header {
  position: relative;

  .site-container {
    background: image_url("bg/header-bg.jpg") no-repeat;
    height: 275px;
  }

  .nav {
    position: relative;

    .btn-nav a {
      display: none;
    }

    ul {
      display: table;
      table-layout: fixed;
      padding: 0;
      width: 100%;
      text-align: center;

      li {
        display: table-cell;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #d1d2d4;

        &:nth-child(1) {
          background-color: #E4E5E6;
        }

        &:nth-child(3) {
          background-color: #bbbdc0;
        }

        &:nth-child(4) {
          background-color: #a7a9ab;
        }

        a {
          display: block;
          font-size: 18px;
          font-family: $gothamhtf-black;
          padding: 7px 30px;
          letter-spacing: 2px;
          text-transform: uppercase;
          @include transition(all 0.3s);

          &:hover {
            color: red;
          }
        }

        &.active-trail {
          background: #ef4136;

          a {
            color: #ffffff;
          }
        }
      }
    }
  }

  .logo {
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 60px;

    a {
      position: relative;

      h1 {
        @include text-hide();
      }
    }

    .social-menu {
      position: absolute;
      top: 50%;
      right: -42%;
      padding: 0px;
      height: 52px;
      transform: translate(0, -50%);

      li {
        list-style: none;
        display: inline-block;
        margin-left: 30px;
        @include transition(all 0.3s);

        &.facebook {
          @include oneline-sprite-box($icons, facebook);
        }

        &.twitter {
          @include oneline-sprite-box($icons, twitter);
        }

        &.instagram {
          @include oneline-sprite-box($icons, instagram);
        }

        &:hover {
          opacity: 0.6;
        }

        a {
          display: block;
          height: 100%;
        }
      }
    }
  }
}
