.site-header {

  .site-container {
    height: 210px;
  }

  .nav ul {

    font-size: 11px;
    letter-spacing: 1px;

    li a {
      padding: 7px 0px;
    }
  }

  .logo-social-wrapper {
    top: 20px;

    .logo {
      width: 70%;

      a {
        position: static;

        img {
          margin-bottom: 2%;
        }
      }
    }

    .social-menu {
      position: static;
      text-align: center;
      transform: none;

      li {
        margin-left: 0px;
      }
    }
  }
}
