.site-header {
  height: 230px;

  .nav.nav-active ul {
    visibility: visible;
    opacity: 1;
    @include transform(translate(0, -1px));
  }

  .nav {
    background: #000000;

    >a {
      display: block;
      position: relative;
      float: right;
      padding: 9px 10px;
      margin: 2px 15px 2px 0;
      border-radius: 4px;
      z-index: 2;

      &:before, &:after {
        content: "";
      }

      &:before {
        margin-top: 0;
      }

      span, &:before, &:after {
        margin-top: 4px;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
      }
    }

    ul {
      position: absolute;
      z-index: 1;
      padding-left: 0;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
      @include transform(translate(0, -5px));
      width: 100%;
      text-align: center;
      background: black;

      li {
        display: list-item;
        color: #fff;
        list-style: none;
        padding: 0 15px;
        margin: 0;
      }
    }
  }

  .logo {
    width: 70%;

    a {
    top: 20px;
    }

    .social-share {
      position: relative;
      top: 20px;
      text-align: center;
      right: 0;

      a {
        margin-left: 0px;
      }
    }
  }
}


