.site-header {

  .site-container {
    height: 240px;
  }

  .nav ul {
    font-size: 14px;

    li a {
      padding: 7px 2px;
    }
  }

  .logo {

    .social-menu {

      li {
        margin-left: 10px;
      }
    }
  }
}
