.site-header {

  .site-container {
    height: 240px;
  }

  .nav ul li a {
    font-size: 14px;
    padding: 7px 2px;
  }

  .logo {

    .social-menu {

      li {
        margin-left: 10px;
      }
    }
  }
}
