.site-header {

  .site-container {
    height: 210px;
  }

  .nav ul li a {
    font-size: 11px;
    padding: 7px 0px;
    letter-spacing: 1px;
  }

  .logo {
    width: 70%;
    top:20px;

    a {
      position: static;

      img {
        margin-bottom: 2%;
      }
    }

    .social-menu {
      position: static;
      text-align: center;
      transform: none;


      li {
        margin-left: 0px;
      }
    }
  }
}
