.btn-wrapper{
  text-align: center;

  .btn {
    display: inline-block;
    font-family: gothamhtf-black;
    text-transform: uppercase;
    color: #fff;
    font-size: 48px;
    letter-spacing: 4px;
    padding: 0.8% 1.8%;
    border: 2px solid #fff;
    min-width: 22.5%;
    min-height: 7.5%;
  }
}