.b-about-us {
  padding-top: 4%;
  margin-bottom: 5%;
  @include clearfix();
  position: relative;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 92%;
    border-top: 1px solid #d6d6d7;
    top: 0;
  }

 .col {
   float: left;
   margin-right: 3.5%;
 }

  .col-1 {
    width: 17%;
  }

  .col-2, .col-3 {
    width: 37%;
  }

  .col-3 {
    margin-right: 0;
  }
}