.b-clients {
  background: image_url("bg/bg-clients.jpg");
  padding-bottom: 19px;
  padding-top: 11%;
  position: relative;

  &:before {
    @include pseudo-block(5%, 0, false, 0);
    background: image_url("bg/the-clients-logo.png") no-repeat;
    width: 17.5%;
    height: 21%;
    background-size: 100% auto;
    margin: 0px auto;
  }

  .clients-list-wrapper {
    @include clearfix();

    h3 {
      border-bottom: 2px solid #6d6e71;
      margin-top: 0;
      margin-bottom: 30px;
    }

    ul {
      padding: 0;

      li {
        margin: 0;
        letter-spacing: 2px;
        list-style: none;
        color: #6d6e71;
      }
    }

    .left-part {
      float: left;
      width: 66%;

      .left-client-list-wrapper {

        .last.column {
          padding-left: 2.5%;
        }

      }
    }

    .right-part {
      float: right;
      width: 30%;
    }
  }
}