.b-clients {
  background: image_url("bg/bg-clients.jpg") no-repeat;
  padding-bottom: 19px;

  .clients-logo img{
    margin: 0 auto;
    padding-top: 3%;
    width: 20%;
    height: auto;
  }

  .clients-list-wrapper {
    @include clearfix();

    h3 {
      border-bottom: 2px solid #6d6e71;
      margin-top: 0;
    }

    p {
      margin: 0;
      letter-spacing: 2px;
    }

    .left-part {
      float: left;
      width: 66%;

      .left-client-list-wrapper {
        @include clearfix();

        .left-list, .right-list {
          float: left;
        }

        .left-list {
          width: 55%;
        }

        .right-list {
         width: 45%;
        }
      }
    }

    .right-pert {
      float: right;
      width: 30%;
    }
  }
}