.b-clients {
  background: image_url("bg/bg-clients.jpg") repeat-y;
  padding-bottom: 19px;

  .clients-logo img {
    width: 30%;
  }

  .clients-list-wrapper {

    h3 {
      text-align: center;
      margin-bottom: 5px;
      margin-top: 15px;
    }

    p {
      letter-spacing: 0.5px;
      text-align: center;
    }

    .left-part, .right-part {
      width: 100%;
    }
  }
}