.b-list-items {


  .item {
    width: 30.7%;
    display: inline-block;
    background-color: #d1d2d4;
    margin-bottom: 5%;
    margin-right: 3.3%;
    font-size: 21px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    h3 {
      font-family: $gothamhtf-black;
      line-height: 78px;
      padding-left: 6.9%;
      padding-right: 6.9%;
      color: #383c3d;
      margin: 0;
      letter-spacing: 1.5px;
      font-size: 21px;
    }

    .description-wrapper {
      padding: 30px 6.9%;

      h4 {

        color: #ef4136;
        font-family: $gothamhtf-bold;
        margin: 0 0 30px;
      }

      .description {
        color: #383c3d;
        margin-bottom: 25px;

      }

      .more-info a{
        color: #ec232d;
        text-transform: uppercase;
        font-family: $gothamhtf-bold;
        text-decoration: underline;
      }
    }
  }
}