.b-pager {

  .btn-wrapper {
    width: 60%;

    .btn {
      font-size: 12px;
      letter-spacing: 1px;
    }
  }

  .pager-wrapper {

    .pager-number-wrapper {
      width: 100%;
      float: none;
    }
  }
}

