.b-pager {
  background: red;

  .btn-wrapper {
    width: 30.7%;
    margin: 0 auto 5%;
    background-color: #ec232d;

    .btn {
      color: #fff;
      font-size: 18px;
      line-height: 92px;
      text-transform: uppercase;
    }
  }
}