.form-contact-wrapper {

  .form-contact {

    .form-item {
      width: 90.5%;
      height: 56px;

      input, .form-select {
        font-size: 30px;
      }
    }

    .btn-wrapper {
      padding-left: 16.9%;

      .btn {
        padding: 3.3% 0;
        min-width: 35%;
      }
    }

    .field-describes {

      .form-item {

        .form-select {
          height: 56px;

          a {
            height: 56px;
          }
        }
      }
    }
  }
}