.site-header {
  height: 276px;
  position: relative;

  .site-container {
    background: image_url("bg/header-bg.jpg") no-repeat;
    height: 100%;
  }

  .nav {
    position: relative;
    height: 44px;
    margin: 0;
    width: 100%;

    > a {
      display: none;
    }

    ul {
      display: table;
      table-layout: fixed;
      padding: 0;
      width: 100%;
      text-align: center;

      li {
        display: table-cell;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #d1d2d4;

        &:nth-child(1) {
          background-color: #ef4136;

          a {
            color: #ffffff;

            &:hover {
              color: #000000;
            }
          }
        }

        &:nth-child(3) {
          background-color: #bbbdc0;
        }

        &:nth-child(4) {
          background-color: #a7a9ab;
        }

        a {
          color: #6d6e71;
          display: block;
          font-size: 18px;
          font-family: $gothamhtf-black;
          padding: 7px 30px;
          letter-spacing: 2px;
          text-decoration: none;
          text-transform: uppercase;
          @include transition(all 0.3s);

          &:hover {
            color: red;
          }
        }

        &.active-trail {
          background: #a7a9ab;
        }
      }
    }
  }

  .logo {
    text-align: center;

    a {
      position: relative;
      top: 60px;

      img {
        display: inline;
      }

      h1 {
        @include text-hide();
      }
    }

    .social-share {
      position: absolute;
      top: 80px;
      right: 4%;
      padding: 0px;
      height: 52px;

      a {
        display: inline-block;
        margin-left: 30px;
        @include transition(all 0.3s);

        &:hover {
          opacity: 0.6;
        }

        &.facebook {
          @include oneline-sprite-box($icons, facebook);
        }

        &.twitter {
          @include oneline-sprite-box($icons, twitter);
        }

        &.instagram {
          @include oneline-sprite-box($icons, instagram);
        }
      }
    }
  }
}
