  .b-links {
    margin-bottom: 5%;
    @include clearfix();

    .links {
      float: left;
      margin-right: 4%;
      width: 30.5%;
      position: relative;

      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0;
      }

      img {
        margin: 0 auto;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity:0.6;
        @include transition(all 0.3s);
      }
    }
  }
