  .b-links {
    margin-bottom: 5%;
    @include clearfix();

    a {
      float: left;
      margin-right: 4%;
      width: 30.5%;

      img {
        margin: 0 auto;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: 0.6;
        @include transition(all 0.3s);
      }
    }
  }
