.site-footer {

  .site-container {
    background: #818285 image_url("bg/bg-footer.jpg") no-repeat;
  }


  .footer-img-logo {
    padding-top: 282px;
    margin-bottom: 45px;
    width: 42%;
  }

  p {
    font-size: 18px;
    color: #ffffff;
  }

  .address {
    margin-bottom: 90px;
  }
}