.site-footer {

  .site-container {
    background: #818285 image_url("bg/bg-footer.jpg") no-repeat;
    height: 100%;

    &>div {
      padding-left:4%;
      padding-right:4%;
    }
  }


  .footer-img-logo {
    padding-top: 282px;
    margin-bottom: 45px;
    width: 42%;

    img {
      width: 100%;
      height: auto;
    }
  }

  p {
    font-size: 18px;
    color: #ffffff;
  }

  .address {
    margin-bottom: 90px;
  }
}