.view-wrapper {
  width: 30.7%;
  height: 100%;
  float: left;
  margin-right: 3.8%;
  @include clearfix();

  .form-properties-view-btns {

    .field-list-view .form-item {
      margin-right: 2.22%;
    }

    .form-item {
      float: left;
      background-color: #a7a9ab;;
      margin: 0;
      width: 48.8%;

      input[type="radio"] {
        display: none;
      }

      input[type="radio"] + label {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: #fff;
        cursor: pointer;
      }

      input[type="radio"]:checked + label {
        background-color: #ef4136;
      }
    }
  }
}

