.b-team {


  .left-part, .right-part {
    width: 100%;
  }

  .left-part {
    float: none;
  }

  .right-part {
    float: none;
  }

  &:before {
    width: 30%;
  }

  .photo-description .center{
      float: none;
      margin: 0 auto 12px;
  }

  .contact .center {
    width: 35%;
  }

  h3, p {
    text-align: center;
  }

}



