.b-team {
  padding: 5% 0;
  @include clearfix();
  background: image_url("bg/bg-team.jpg");

  img {
    width: 100%;
    height: auto;
  }

  .center {
    margin: 0 auto;
  }

  .left, .right {
    width: 38.5%;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .team-logo {
    width: 14.5%;
    margin-bottom: -5%;
  }

  .foto-description {
    @include clearfix();

    .center{
      width: 14.5%;
      float: left;
      margin-left: 4.3%;
      margin-top: 8%;
    }
  }

  .contact .center {
    width: 22.5%;

    &:hover {
      background: brown;
      @include transition(all 0.3s);
    }
  }

  p {
    color: #bebfc0
  }
}


