.b-team {
  background: image_url("bg/bg-team.jpg") repeat-y;

  .left-part, .right-part {
    width: 100%;
  }

  .left-part {
    float: none;
  }

  .right-part {
    float: none;
  }

  .team-logo {
    width: 30%;
    margin-bottom: 5%;
  }

  .photo-description .center{
      float: none;
      margin: 0 auto 12px;
  }

  .contact .center {
    width: 35%;
  }

  h3, p {
    text-align: center;
  }

}



