.b-team {
  padding: 10% 0 5%;
  @include clearfix();
  background: image_url("bg/bg-team.jpg");
  position: relative;

  &:before {
    @include pseudo-block(5%,0,false,0);
    background: image_url("bg/the-team-logo.png") no-repeat;
    width: 13.5%;
    height: 10%;
    background-size: 100% auto;
    margin: 0px auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  .center {
    margin: 0 auto;
  }

  .left-part, .right-part {
    width: 38.5%;
    /* test percent compass
    width: 567px / 1472px * 100%; test
    */
  }

  .left-part {
    float: left;
  }

  .right-part {
    float: right;
  }

  .photo-description {
    @include clearfix();

    .center {
      width: 14.5%;
      float: left;
      margin-left: 4.3%;
      margin-top: 8%;
    }
  }

  .contact .center {
    width: 22.5%;

    &:hover {
      background: brown;
      @include transition(all 0.3s);
    }
  }

  p {
    color: #bebfc0
  }
}


